*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
 background-image: url(./neve-fse-img12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color: white;
  color: #4b4848;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.navbar1{
  position:sticky;
  top:0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
   align-items: center; 
}
.logo1 {
  font-size: 18px;
  font-weight: 800;
}
.menu1 ul {
  list-style: none;
  display: flex;
}
.menu1 li a {
  text-decoration: none;
  color: #4b4848;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  transition: 0.5s ease;
}
.menu1 li a:hover {
  background-color: #4b4848;
  color: white;
  border-radius: 5px;
}
.menu1 {
  display: flex;
  margin-left: 20px;
}
.menu1 li a:hover {
  background-color: #484b49;
  color: white;
  border-radius: 3px;
}

.menu1 {
  display: flex;
  margin-left: 20px;
}
.menu2{
  display: none;
}
.logo2{
  display: none;
}
.burger{
  display: none;
  font-size: 24px;
}
.navbar2{
  width: 100%;
}
.about{
    background-image: url(./neve-fse-img12.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 30%;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}
p{
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    color: rgb(0, 0, 0);
}
h5{
  transition: 0,5s ease; 
  
}


@media (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    display: flex;
  }
  .navbar1{
    display: none;
  }
  .menu2 {
    display: block;
    text-align: center;
  
  }
.menu2 ul{
  color: white;
    list-style: none;
}
.menu2 li{
  padding: 8px;
  width: 100%;
}
  .menu2 ul a{
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    padding: 10px 15px;
  }
   .menu2 ul a:hover{
    color: #494646;
    text-decoration: none;
    background-color: #ffffff;
  }
  .navbar2{
    background-color: #4b4848;
    display: flex;
    flex-direction: column;
    text-align: center;
   
    color: #ffffff;
  }
  .menu1 {
    display: none;
  }
  .logo2{
    display: block;
    font-size: 18px;
    font-weight: 800;
  }
  .burger {
    display: block;
    cursor: pointer;
      }
    .about{
    background-image: url(./neve-fse-img12.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    top: 30%;
}}
