* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(./neve-fse-img12.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}
header {
  background-color: white;
  color: #4b4848;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar{
  position:fixed;
  top:0;
  width: 100%;
  z-index: 1000;
 
}
.logo {
  font-size: 18px;
  font-weight: 800;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu li a {
  text-decoration: none;
  color: #4b4848;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  transition: 0.5s ease;
}
.menu li a:hover {
  background-color: #4b4848;
  color: white;
  border-radius: 5px;
}
.menu {
  display: flex;
  margin-left: 20px;
}
.container{
    background-image: url(./neve-fse-img12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
    position:relative;
    top:-50px;
}
.carrrd{
    display: flex;
   margin: 0;

}
.blog{
  text-align: center;
  align-items: center;
  height: 50px;
  margin-top: 50px;
  font-size: 40px;
  width: 100%;
  font-weight: 800;
  padding-top: 70px;
}
.card1{
    height: 500px;
    width: 800px;
    margin-left: 80px;
    img{
    height: 500px;
    width: 800px;
    margin-left: 20px;
    margin-top: 80px;
    position: absolute;
}
}
.card2 {
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns:auto auto ;
  grid-gap:1em;
  padding: 20px;
  margin-left: 20px;
  margin-top: 30px;
}

.imgs {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  object-fit: cover;
}
.cards{
  display:flex;
  height: 100px;
  width: 400px;
  gap:20px;
  margin-top: 20px;
}
.icard, .iicard, .iiicard, .ivcard {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  img{
    width: 80px;
    height: 70px;
    object-fit: cover;
  }
}
.des{
  display: flex;
  flex-direction: column;
  justify-content: center;
}




