*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: white;
  color: #4b4848;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar{
  position:sticky;
  top:0;
}
.logo {
  font-size: 18px;
  font-weight: 800;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu li a {
  text-decoration: none;
  color: #4b4848;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  transition: 0.5s ease;
}
.menu li a:hover {
  background-color: #484b49;
  color: white;
  border-radius: 5px;
}
.menu {
  display: flex;
  margin-left: 20px;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}
.contact{ 
    display: flex;
    height: 100vh;
    background-image: url(./neve-fse-img12.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
   
}
form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;
}
input{
    padding: 20px;
}
textarea{
    padding: 20px;
}
button{
    padding: 15px;
    background-color:  rgb(69, 87, 255);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;  
}

