body{
  
    background: linear-gradient(to right,rgb(238, 235, 194),rgb(248, 195, 206));
}
.leftProduct{
    height: 120vh;
    width:700px;
    left: 50px;
    position: relative;


}
.rightProduct{
 height:150vh;
 width:500px;
 position: relative;
 right: 80px;
 
 bottom:40px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}
.secProduct{
    height:150vh;
    display: flex;
    justify-content: space-between;
    align-items: center;



}
.addPro{
    height: 50px;
    width:100%;
    position:relative;
    top:30px;
    left:15%;
   
}
.addPro i{
 color: #dd695d;
 font-family:Georgia, 'Times New Roman', Times, serif;
}
.newForm{
    position: relative;
  bottom: 40px;;
    background: #ffecec;
    padding: 20px;
    max-width: 600px;
    height:130vh;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.title{
    height: 10px;
    margin-top: 10px;
    margin-bottom: 34px;
    margin-left: 13px;
    font-size: 20px;
    color: rgb(92, 91, 91);
}
.arr{
    position: relative;
    top:15px
}

.checkbox-group {
    margin-bottom: 20px;
    height: 200px;
    width:500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

    
}
.bouq{
    height:150px;
    width:180px;
    margin-bottom: 10px;
    
    padding: 20px;

}

  

button {
    width: 70%;
    padding: 12px;
    margin-left:80px;
    background: #dd695d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background: #2da73e;
}

.fImage{
    height: 20px;
    margin-top: 250px;
}
input{
    height: 40px;
}
.lab{
    font-size: large;
    font-weight: 800;
    color: #5b5a5a;
}
span{
    height:10px;
    position: relative;
    bottom:15px;
    left:5px;
    color: #5b5a5a;
}

.shopInformation{
    height: 150px;
    width:420px;
    background-color: rgb(240, 245, 245);
    display: flex;
   padding: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}
.subImage{
    height: 250px;
    width: 450px;
    display: flex;
    gap: 4px;
    border-radius: 10px;

    justify-content: space-evenly;
    align-items: center;
    background: #fef2f2;
}
.sub{
    height: 200px;
    width:130px;
    border-radius: 10px;
    
}

.addHeading{
    position: relative;
    bottom:40px;
    left:35px;
}
.subImage p{
    color: #5b5a5a;
}