* {
    margin: 0;
    padding: 0;
    
    font-family: Arial, sans-serif;
}

body {
    background: #e9f4f1;
   
    
    
   
}

.booked{
    height: 200vh;
     overflow: hidden;
    background: linear-gradient(to right,rgb(238, 235, 194),rgb(248, 195, 206));
    position: relative;
  
    display: flex;
}

.form-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:1300px;
    width: 500px;
    background: #f0f0f0;
    position: absolute;
    top:60px;
    left:35.5%;
  
   
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}




h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #1a3d3a;
}

.subtext {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}

.small {
    margin-top: -10px;
    margin-bottom: 15px;
}

.title {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1a3d3a;
}




.radio-group .label {
    margin-left: 25px;
    width:90%;
    height: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    background: white;
   flex-direction: row-reverse;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 1px solid #dfecec;
    cursor: pointer;
}

.radio-group input {
    height: 20px;
    margin-top: 15px;
    margin-right: 10px;
}
span{
    height: 50px;
    width:400px;
   position: relative;
   bottom:30px;
   left:30px


}

form input,
textarea {
    
    height:30px;
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #d0e3e0;
    border-radius: 5px;
}

textarea{
    height: 70px;
}

button {
    width: 100%;
    padding: 12px;
    background: #8f9091;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #38b75e;
}
.contact{
    height: 300px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h3{
    padding-bottom: 5px;
}

@media(max-width:400px){
    .booked{
        width:100%;
    height: 180vh;
     overflow: hidden;
    background: linear-gradient(to right,rgb(238, 235, 194),rgb(248, 195, 206));
    position: relative;
  
    display: flex;
}

.form-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:1150px;
    width: 250px;
    background: #f0f0f0;
    position: absolute;
    top:60px;
    padding: 8px;
    left:9%;
  
   
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
   
    margin:13px;
    color: #1a3d3a;
}

.subtext {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}

.small {
    margin-top: -10px;
    margin-bottom: 15px;
}

.title {
    display: block;
    margin: 10px;
    font-weight: bold;
    color: #1a3d3a;
}




.radio-group .label {
    margin-left: 25px;
    width:80%;
    height: 40px;
    display: block;
    justify-content: center;
    align-items: center;
    background: white;
   flex-direction: row-reverse;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 1px solid #dfecec;
    cursor: pointer;
}

.radio-group input {
    height: 14px;
    margin-top: 15px;
    margin-left: 80px;
}
span{
    height: 30px;
    width:400px;
   position: relative;
   bottom:30px;
   left:10px;
   font-size: 14px;


}

form input,
textarea {
    
    height:20px;
    width: 90%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #d0e3e0;
    border-radius: 5px;
}

textarea{
    height: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #8f9091;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #38b75e;
}

}
.contact{
    height: 300px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h3{
    padding-bottom: 5px;
     color: #1a3d3a;
     margin:4px;
}

