*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    width: 100%;
    
    overflow: hidden;
    background: linear-gradient(to right,rgb(238, 235, 194),rgb(248, 195, 206));
}



 
 
  section{
    width: 100%;
    height: 90vh;

  }
  .main-container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .main-container .image{

    display: flex;
    align-items: center;
    justify-content: center;
    width:300px;
    height: 300px;
    border-radius: 50%;
   
    


  }

  .main-container .image img{
    height: 350px;
    width:350px;
    border-radius: 50%;
    object-fit: cover;
   

  }
  .main-container .content{
    color: rgb(105, 104, 104);
    min-height:100px;
    width:40%;

  }
  .content h1{
    font-size: clamp(1rem,2rem + 5vw,3rem);
  }
  .content h1 span{
    color:#dd695d;
  
  }
  .content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw,2rem);

  }
  .content .typewriter span{
  color:#dd695d;
    font-size: 2.5rem;
   
    position: relative;
    transition:0.3s linear;

  }
  .typewriter span::before{
    content:"Florist";
    animation:words 15s infinite
  }
  .typewriter span::after{
    content:"";
    position:absolute;
    width: calc(100% + 8px);
    height:100%;
    border-left: 3px solid rgb(214, 164, 211);
    animation:cursor 0.6s linear infinite;



  }

  
.content p{
    font-size:clamp(0.4rem, 0.2rerm + 9vw , 1rem);
    margin:10px 0;

}
.social-links i{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:3rem;
    height:3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(138, 132, 138);
    border-radius: 50%;
    color: rgb(133, 133, 133);
    margin:5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;



}

.social-links i:hover{
    scale:1.3;
    color: white;
    background-color: rgb(137, 134, 137) ;
    border: 0.1rem solid rgb(134, 131, 133) ;
    filter: drop-shadow(0 0 10px rgb(128, 127, 129));
}
.content button{
    width: 40%;
    height:6vh;
    margin:30px;
    background-color: rgb(159, 154, 159);
    color: rgb(253, 250, 250);
    border:none;
    outline:none;
    font-size:100%;
    font-weight:700;
    border-radius:5px;
    transition:0.2s linear;

}
.content button:hover{
    scale:1.1;
    color: rgb(253, 250, 251);
    border :2px solid  rgb(141, 138, 138);
    background-color:transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgb(156, 154, 155);

}


.main-container{
  
  display:flex;
  
}
.nav-container .links{
  display:none;
}
.hamburg , .cancel{
  display:block;
}
.main-container .content{
  width:80%;
  margin-top: 20px;
 
}
 .social-links i{
    width:2.5rem;
    height:2.5rem;
    font-size:1.5rem;
  }
  .cancel{
    color: rgb(230, 232, 234);
  }
  .main-container .image{
    width:80%;
    margin-bottom: 0px;
  }


#about{
  height:100vh;
  width: 100%;
}

.about_container{
  gap:2rem;
  margin-bottom:2rem;
  margin-top: 2rem;

}




.section__pic{
  justify-content: center;
  display: flex;
  height: 250px;
  width: 250px;
  margin-top: 40px;
  margin-left: 42%;
 

}
.about_pic{
  
  
  border-radius: 5rem;
}
.section_text{
  align-self: center;
  text-align: center;
}
.section_text p{
  font-weight: 600;

}
.section__text_p1{
  text-align:center;
  margin-bottom: 1rem;
}

.title{
  font-size: 3rem;
  text-align: center;
}
.detail-wrapper{
  margin-top: 40px;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  gap: 40px;
}
.title{
    color:rgb(93, 95, 95)
}
.details_container1,.details_container2,.details_container3{
  padding:1.5rem;
  flex:1;
 background: linear-gradient(to bottom,rgba(214, 193, 215, 0.477),rgb(189, 187, 188));
  border-radius: 2rem;
  border:rgb(107, 96, 98) 0.1rem solid;
  border-color:rgb(246, 242, 243);
  
  text-align: center;


}

.experience_icon, .education_icon, .hobby_icon{
  height: 50px;
  width: 50px;
}
.text_container{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
 
}
.text_container p{
    text-align: center;
}     





 /*           Footer and Contact US Starts from Here */

 footer{
  
  
  height: 250px;
   background: linear-gradient(to bottom,rgba(252, 158, 184, 0.477),rgb(156, 154, 155));
  width: 100%;
 }

.links2{
    height: 200px;
    width: 120px;
    
    gap:3rem;
    align-items: center;
    text-align: center;
    
 }
 .links2 a{
    position: relative;
    font-size: 1rem;
    color:#434040;
    text-decoration: none;
    font-weight: 500;
   transform: 0.3s linear 
 }
   .links2 a::before{
    position: absolute;
    content: "";
    bottom:-3px;
    left: 0;
    width:0%;
    height: 3px;
    background-color: rgb(150, 122, 128);
    transition: 0.2s linear;

  }
  .links2 a:hover::before{
    width:100%;

  }
.ft_container{
  display: flex;
  padding-top: 40px;
  
  
  justify-content: space-around;
}
.last{
  color: #434040;
} 
.profile{
  display:none;
}
 

@media(max-width:400px){
  
}
@media(max-width:400px){
   .main-container{
    width:326px;
    height: 120vh;
    display: flex;
    flex-direction: column;
   }
   .image{
    display: none;
   }
   .prof{
    display: none;
   }
 .profile{
  display: block;
 }
 .content h1{
    font-size: 2rem;
  }
  .content .typewriter span{
  color:#dd695d;
    font-size: 2rem;
   
    position: relative;
    transition:0.3s linear;

  }
  .content p{
    font-size:13px;
    margin:10px 0;

}
 .content button{
    width: 70%;
  }
  #about{
    position: relative;
    height: 230vh;
    top:200px;
  }
.section__pic{
  justify-content: center;
  display: flex;
  height: 250px;
  width: 250px;
  margin-top: 40px;
  margin-left: 12%;
 

}
.text_container{
  padding: 10px;
  width:320px;
  margin-left: 00px;
  margin-right: 180px;
  margin-top: 20px;
 
}
.last{
  font-size: smaller;
}
.detail-wrapper{
  width: 200px;
        height: 500px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 50px;
        right: 40px;
        gap: 10px;
}
.details_container1, .details_container2, .details_container3{
  width:200px;
}
#footer2{
  position: absolute;
  top: 330%;
}
.ex{
  font-size: small;
}
}
