*{
    margin:0;
    padding:0;

}
body{
    background-color: rgb(250, 242, 244);
   
}

section{
   
    width:100%;
  
    display: flex;
    align-items: center;
    
    background-color: rgb(250, 242, 244);
    gap:80px;
}

.left{
    margin-left: 100px;
    margin-top: 30px;
    height:85vh;
    width:400px;
   gap: 40px;
    background-color: rgb(246, 219, 223);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
i{
    
    font-size: larger;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{ 
    padding-top: 3px;
    list-style-type: none;
    color: rgba(94, 94, 94, 0.981);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    padding-top: 3px;
}
input{
   bottom:50px;
    position: relative;
    height: 4px;
    width:250px;
    
}
input[type="range"] {
  -webkit-appearance: none; /* Reset default appearance */
  background: transparent; /* Make track transparent to show custom styles */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(250, 130, 162);; /* Color of the entire track */
  height: 8px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Reset default thumb appearance */
  background: rgb(211, 197, 201);/* Color of the thumb */
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -4px; /* Adjust to center thumb on track */
}

.rangePrice{
    position:relative;
    bottom:120px;
    height: 100px;
    width:250px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.catList{
    height: 200px;
    position: relative;
    bottom:160px;
    
}
.rangeBtn{
    height: 35px;
    width:100px
}
.right{
    height:80vh;
    width:850px;
    
}
.shopTitle{
    height: 120px;
    width:100%;
   background-color: rgb(246, 219, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smallDetail{
    color: rgba(131, 132, 133, 0.981);
}
h1{
    font-family: cursive;
}
.sshop{

    position: relative;
    margin-top: 10px;
   
    height: 350px;
    width:730px;
    right: 70px;
   
    
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.productShop{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width:270px;
   background-color: rgb(246, 219, 223);
   border-radius: 10px;
    
}
.productShop img{
    padding-top: 10px;
    height: 260px;
    width:250px;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
}
.sale{
    height:60px;
    width:60px;
    background-color:rgb(250, 130, 162);
    font-size: larger;
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 800;
    color: aliceblue;
    margin-left: 210px;

    
}
.price{
    display: flex;
    gap:9px;
}
h3{
    padding:3px;
    color:rgb(93, 89, 89)
}
u{
    color: black;
}
button{
    height: 35px;
    width:170px;
    background-color: transparent;
    border-radius: 40px;
    color: rgb(250, 130, 162);
    font-weight: 600;
    font-size: medium;
    border: 2px solid rgb(246, 111, 147);;
}
button:hover{
     height: 37px;
    width:172px;
    border: 2px solid rgb(252, 243, 243);
    background-color: rgba(172, 173, 174, 0.596);
    color: aliceblue;
}
s{
    color: rgb(125, 100, 48);
}
.pDetail{
    height: 80px;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i{
    color:rgb(122, 117, 117);
    
}

.result{
    width:100%;
    height:80px;
   align-items: center;
    display: flex;
    justify-content: space-between;
}
.result p{
    color:rgb(79, 77, 77);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
select{
 height: 35px;
 width:130px;
 text-align: center;
 color:rgb(79, 77, 77);
 font-size: medium;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(max-width:400px){

    body{
        height: 230vh;
    }
   .navigate ul li{
    font-size: 0.8rem;
    
    
  }
  .navigate ul{
  
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: column;
    height: 120px;
    position: relative;
    left: 14%;
    justify-content: center;
    gap: 5px;
    
 }
 section{
   
    width:100%;
    height: 900;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(250, 242, 244);
    gap:80px;
}
.left{
    margin-left: 8px;
    margin-top: 40px;
    height:56vh;
    width:280px;
   gap: 40px;
    background-color: rgb(246, 219, 223);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.left h4{
     position: relative;
    top:5%;

}
.catList h4{
    position: relative;
    top:10%;
}
i{
    
    font-size: large;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{ 
   position: relative;
   top: 63%;
    list-style-type: none;
    color: rgba(94, 94, 94, 0.981);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    padding-top: 3px;
}
.catList ul li{
    font-size: small;
}
input{
   top:18px;
    position: relative;
    height: 4px;
    width:250px;
    
}
input[type="range"] {
  -webkit-appearance: none; /* Reset default appearance */
  background: transparent; /* Make track transparent to show custom styles */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(250, 130, 162);; /* Color of the entire track */
  height: 8px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Reset default thumb appearance */
  background: rgb(211, 197, 201);/* Color of the thumb */
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -4px; /* Adjust to center thumb on track */
}

.rangePrice{
    position:relative;
    top:1px;
    height: 100px;
    width:250px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.catList{
    height: 200px;
    position: relative;
    bottom:160px;
    
}
.rangeBtn{
    height: 35px;
    width:100px
}
 .right{
    
    height:246vh;
    width:280px;
   
    
 
    
}
.shopTitle{
    height: 60px;
    width:100%;
   background-color: rgb(246, 219, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smallDetail{
    color: rgba(131, 132, 133, 0.981);
   position: relative;
   top:10px;
}
h1{
    font-family: cursive;
}
.result{
    position: absolute;
    top:90%;
    height: 50px;
    background-color: rgb(250, 242, 244);
  
}
.result p{
    font-size: medium;
}
.select select{
   height: 30px;
   position: relative;
   right:20px;
   font-size: small;
}
.sshop{
    position: relative;
    bottom:70px;
    right:60px;
    width:60px;
     display: flex;
    flex-direction: column;
    height: 700px;
    width:400px;
    justify-content: space-between;
    align-items: center;
   

}
.productShop{
   
    position: relative;
    height: 300px;
    width:220px;
     background-color: rgb(246, 219, 223);
}
.productShop img{
  height: 190px;
  width:180px;
  position: relative;
  padding-top:22px;
}
.sale{
    height: 50px;
    width:50px;
    font-size: smaller;
}
.pDetail{
    height: 50px;
    width: 140px;
   position: relative;
   top:0px;
}
.pDetail h3{
    font-size: small;
}
.resProduct{
    display: none;
}
#footer{
    position: absolute;
    top: 200%;
}


}