*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(233, 232, 230);
}
.nav_logo{
    display: flex;
    align-items: center;
    height: 40px;
    width: 50vh;
    margin-left: 30px;
   

    
}
@mediaquery(max-width:400px){






}

.first{
    color: #dd695d;
     font-family: "Lucida Console", "Monaco", "Consolas", "Courier New", Courier, monospace;
    
}
.second{
    color:#666666;
     font-family: "Lucida Console", "Monaco", "Consolas", "Courier New", Courier, monospace;
  
}
.navbar{
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    
    background-color:rgb(233, 232, 230);
   
    
    

}
.outer{
    height:200vh;
}
.secout{
   
    position:relative;
}


.navigate ul{

    height: 40px;
    display:flex;
    list-style: none;
    align-items: center;
    width:120vh;
    margin-left: 160px;
    justify-content: space-around;
    
    

}
a{ 
    position: relative;
    text-decoration: none;
    color: rgb(108, 105, 105);
}
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #737171; 
    transition: 0.3s;
}

a:hover::after {
    width: 100%;
}


.icon{
    display:flex;
    color:  rgb(108, 105, 105);;
     height: 40px;
     width: 80px;
     gap: 10px;
     justify-content: space-around;
     align-items: center;
     margin-right: 30px;
}

.cartTitle{
    color:  rgb(108, 105, 105);
     margin-right: 40px;
     height: 40px;
     width: 40px;
     display: flex;
     align-items: center;
    

}

.content-img{
    background-image: url(./images/Tulips_1600x.webp);
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}


.hero-text {
    margin-left: 55%;
    width: 500px;
    padding: 50px;
    padding-top: 100px;
}

.hero-text h1 {
    font-size: 48px;
    line-height: 1.2;
}

.highlight {
    color: #dd695d;
}

.hero-text p {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    width: 80%;
}

.signature {
    margin-top: 40px;
    font-size: 28px;
    font-family: cursive;
    color: #e67e22;
}

.categories {
    padding: 40px 60px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
}

.categories a {
    cursor: pointer;
    color: rgb(108, 105, 105);
}

.categories .active {
    color: #333;
    font-weight: bold;
}

.filter {
    margin-left: auto;
    cursor: pointer;
}


.products {
    padding: 0 60px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product {
    padding:10px;
    height: 400px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.product img {
    

    
    height:340px;
    width: 100%;
    display: block;
    object-fit: cover;
    
}
.product h3{
    height: 10px;
    width: auto;
    padding: 10px;
    color:#4b4a4a;
}

.sold-tag {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
}
.resProduct{
    display:none;
}
@media(max-width:400px){
   
 .navbar{
  display:flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;

 }
 .navigate ul{
  
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: column;
    height: 120px;
    position: relative;
    right: 7%;
    justify-content: center;
    gap: 5px;
    
 }
  .navigate ul li{
    font-size: 0.8rem;
    
    
  }
 .cartTitle, .icon{
    display:none;
 }
.nav_logo{
    position: relative;
    left:30%;
}
.content-img{
    background-image: url(./images/Tulips_1600x.webp);
    height: 60vh;
    width:20rem;
    
    background-repeat: no-repeat;
    background-size: contain;

}
 .hero-text {
   position:relative;
   bottom:22%;
   right: 22%;
    width: 240px;
    
   
}

.hero-text h1 {
    font-size: 21px;
    line-height: 1.2;
}

.highlight {
    color: #dd695d;
}

.hero-text p {
    margin-top: 20px;
    font-size: 10px;
    color: #666;
    width: 80%;
}

.signature {
    margin-top: 10px;
    font-size: 18px;
    font-family: cursive;
    color: #e67e22;
}
.categories {
    position: relative;
    bottom:16%;
    right: 16%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
}
.resProduct{
  display:block;
}

.filter {
    display: none;
    
    cursor: pointer;
}
.products {
    position: relative;
    bottom: 17%;
    right:13%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.product {
    width:130px;
    height: 200px;
    position: relative;

    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.product img {
    height:140px;
    width: 100%;
    display: block;
    object-fit: cover;
    
}
.product h3{
    font-size: 0.9rem;
    width: auto;
    padding: 10px;
    color:#4b4a4a;
}

footer{
    position: absolute;
    top:200%;
}
.resLink{
    display: none;
}
.ft_container{
   width: 250px;
    display: flex;
    gap:5px;
}



.link {
    height: 10px;
}


.secout{
    position: absolute;
    top:54%;
}
#footer{
    position: absolute;
    top:240%
}


    
}

