* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: white;
  color: #4b4848;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 18px;
  font-weight: 800;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu li a {
  text-decoration: none;
  color: #4b4848;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  transition: 0.5s ease;
}
.menu li a:hover {
  background-color: #4b4848;
  color: white;
  border-radius: 5px;
}
.menu {
  display: flex;
  margin-left: 20px;
}
.container {
  background-image: url(./neve-fse-img12.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
p {
  font-size: 15px;
  font-weight: 8px;
  margin-bottom: 20px;
}
.button {
  display: flex;
  gap: 20px;
  margin:20px;
}
.button1 {
  background-color: rgb(69, 87, 255);
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}
.button2 {
  button {
    border-radius: 3px;
    border-color: rgb(87, 87, 91);
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px 20px;
  }
}
.buttom {
  display: flex;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  gap: 200px;
  
  i{
    background-color: rgb(69, 87, 255) ;
    padding:20px;
    border-radius:5px;
    color: white;
    font-size:40px;
    width:auto;
  }
}
h2{
    font-size:larger;
    font-weight: 700;
    padding: 10px 0px;
}
p{
  margin:auto;
  font-weight: 500;
}
.card1{
width: 300px;

}
.card2{
width: 300px;

}
.card3{
width: 300px;

}

