body {
  font-family: "Poppins", sans-serif;
  background: #fdfcf9;
  color: #333;
}

.home-hero {
  height: 85vh;
  background: linear-gradient(120deg, #0c0a78, #fdfcf9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.home-hero h1 {
  font-size: 52px;
  font-weight: 700;
  color: #3e2f23;
}

.home-hero p {
  margin: 15px 0;
  font-size: 20px;
  color: #5f4c38;
}

.primary-btn {
  padding: 12px 28px;
  background: #3e2f23;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #5f4c38;
}

.intro {
  text-align: center;
  padding-top: 20px;
}

.intro h2 {
  font-size: 36px;
}

.intro p {
  margin-top: 10px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  color: #6b5a46;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 30px 10%;
  /* background: #000; */
}

.highlight-card {
  padding: 25px;
  background: white;
  border-radius: 18px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.08);
}

.about-preview {
  padding: 70px 12%;
  background: #f6f3ef;
  text-align: center;
}

.about-box {
  max-width: 700px;
  margin: auto;
}


.services-section {
  padding: 70px 12%;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-bottom: 20px;
}

.service-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.08);
}


.secondary-btn {
  background: #e6ded2;
  color: #3e2f23;
  border-radius: 25px;

  text-decoration: none;
}

.cta {
  padding: 80px 20px;
  background: linear-gradient(120deg, #e8c9a7, #f6e9dd);
  text-align: center;
  color: #3e2f23;
}