.login-main {
  width: 100%;
  background-image: url(../Images/bgimg.webp);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 30%;
  margin-right: 60rem;
}

fieldset {
  padding: 20px;
  width: 90%;
  border-radius: 15px;
}

form {
  padding: 20px;
  margin: 20px;
}

.login input {
  width: 100%;
  height: 40px;
  background: transparent;
  border-bottom: 1px solid rgb(101, 101, 138);
  border-top: none;
  border-right: none;
  border-left: none;
  color: rgb(17, 16, 16);
  font-size: 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn3,
.signup {
  width: 240px;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.btn3 {
 margin-left: 25px;
  background: rgb(55, 29, 170);
  color: white;
}

.btn3:hover {
  background: rgb(38, 92, 21);
}

.btn3 a {
  text-decoration: none;
  color: black;
}
.acc_link{
    margin-left: 25px;
    margin-top: 5px;
}

.signup {
  background: rgb(160, 44, 44);
  color: white;
  margin-top: 12px;
  margin-left: 5px;
}

.signup:hover {
  background: rgb(38, 92, 21);
  color: rgb(195, 214, 214);
}

.signup a {
  text-decoration: none;
  color: black;
}

/* Tablets */
@media (max-width: 992px) {
  .login {
    width: 40%;
    padding: 2rem;
  }
}

/* Mobile Phones */
@media (max-width: 768px) {
  .login {
    width: 60%;
    padding: 1.5rem;
  }

  .btn3,
  .signup {
    width: 100%;
  }
}
