.logo {
    font-size: 30px;
    font-weight: bold;
    color: #1a1a1a;
}

.navbar {
    /* position: fixed;
    width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8FAFF;
    padding: 12px 20px;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
}

.nav-links {
     display: flex;
    list-style: none;
    gap: 50px;
    flex-wrap: wrap;
    margin-right: 100px;
}

.nav-links li a {
    color: rgb(32, 13, 128);
    text-decoration: none;
    font-weight: bold;
}

.nav-links li :hover{
    color: rgb(151, 18, 18);
}
