*{
  margin: 0;
}

.sign-main {
  width: 100%;
  background-image: url(../Images/image.webp);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6ff;
}

#myForm {
  width: 450px;
}

fieldset {
  padding: 20px;
  margin-top: 40px;
  margin-left: 30rem;
  border-radius: 10px;
  border: 1px solid #b8b8b8;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

form {
  padding: 20px;
  margin-top: 30px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-top: 4px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

button {
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  background: #4a6cf7;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

button a{
  text-decoration: none;
  color: aliceblue;
}
button[type="submit"] {
  background: #b55a5a;
}

button:hover {
  opacity: 0.9;
}

/* resposive */

/* Tablets (medium screens) */
@media (max-width: 992px) {

  fieldset {
    margin-left: 7.5rem; /* reduce the large left margin */
    width: 80%;
  }
}

@media (max-width: 480px) {

  legend {
    font-size: 16px;
  }

  input,
  textarea {
    padding: 8px;
  }
}