  
        fieldset{
            width: 20rem;
            padding: 2rem;
            border: 1px solid black;
            border-radius: 20px;
            background-color: #fff;
            margin-left: 15%;

        }
        label{
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0.5rem;


        }
        input{
            width: 100%;
            padding: 1rem;
            margin-bottom: 1rem;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 1rem;
            box-sizing: border-box;
        }
        legend{
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }
        .submit{
            background-color: black;
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0.5rem;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            width: 50%;
            text-align: center;
            margin-top: 2rem;
        }
        form{
            display: flex;
            flex-direction: row;
            gap: 1rem;
           
        }
        .field1{
            border: 1px solid black;
            border-radius: 20px;
            margin-left: 0px;

         }
         
         select{
            width: 100%;
            padding: 1rem;
            margin-bottom: 1rem;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 1rem;
            box-sizing: border-box;
         }
      body{
            background-color: white;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            
        }
           
              @media(max-width: 1200px){
            form{
                flex-direction: column;
            }
            fieldset{
                  margin-left: 25%;
            }

            .field1{
                margin-left: 0px;
            }
           
        }
