 header {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 5em;
     color: white;

 }

 .header_container {
     background-color: rgb(97, 97, 97);
     padding: 1rem;
     text-align: center;
     position: sticky;
     border-radius: 1rem;
     width: 50%;
     position: fixed;

 }

 .res1 a {
     color: white;
     margin: 1em;
     text-decoration: none;
     font-size: 20px;
     text-align: center;
 }