/* Body styling */
/* GENERAL PAGE STYLING */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0a0a0a;
    color: white;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}



