tyle.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}


#profile {
  background-color: #ffffff;
  padding: 2rem;
  margin: 1rem auto;
  max-width: 800px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #333;
}

.profile-info {
  flex: 1;
}

.social-links a {
  margin-right: 1rem;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
}


header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

nav a {
  color: #c5b8b8;
  margin: 0 10px;
  text-decoration: none;
}


section {
  padding: 2rem;
  background: rgb(200, 186, 186);
  margin: 1rem auto;
  max-width: 800px;
  border-radius: 10px;
}


.project {
  background: #b1a7a7;
  padding: 2rem;
  border-radius: 4px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

input,
textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.8rem;
  border: none;
  background: #222;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #444;
}


footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
}


@media (max-width: 900px) {
  #profile {
    padding: 1.5rem;
  }

  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-info {
    width: 100%;
  }
}


@media (max-width: 600px) {
  header {
    text-align: center;
  }

  nav a {
    display: inline-block;
    margin: 5px;
  }

  #profile {
    padding: 1.2rem;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }

  section {
    padding: 1.5rem;
  }

  .project {
    padding: 1.5rem;
  }

  form {
    width: 95%;
  }
}


