body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f2f2f2;
}

.page-container {
    display: flex;
    gap: 20px;
}

.left-page table,
.right-page table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

.left-page {
    width: 50%;
    height: 700px;
    background: white;
    border: 2px solid #000;
    border-collapse: collapse;
    overflow: auto;
}

.left-page th, .left-page td {
    border: 2px solid #000;
    padding: 10px;
    font-size: 12px;
}
.right-page {
    width: 50%;
    height: 300px;
    background: white;
    border: 2px solid #000;
    border-collapse: collapse;
}

.right-page th, 
.right-page td{
    border: 2px solid #000;
    font-size: 12px;
    text-align: center;
}

th {
    background: #f9f9f9;
    text-transform: uppercase;
    font-weight: bold;
}

/* .stars {
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: bold;
} */

/* .no-border-right {
    border-right: none !important;
}

.no-border-left {
    border-left: none !important;
} */
