* {
    padding: 0;
    margin: 0;
}

nav{
    background: #f7b731;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 45px;
}

.navlink {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

.navlink a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.apply-btn {
    background: #a21914;
    color: white;
    padding: 4px 3px;
    border-radius: 5px;
}

.apply-btn:hover{
    background: rgb(17, 83, 125);
    border: blue;
}

.herosection img {
    width: 100%;
    height: 92vh;
}

.about_page{
    display: flex;
  
}

.about_page h2 {
    padding: 10px;
}

.about_page p {
    margin-left: 20px;
    margin-right: 20px;
    color: #535353;
    font-size: 16px;
}



 

